.container{
    padding-top: 10px;
}

.card-header{
    padding: 0px;
}

#dateReport1{
    background-color: sandybrown;
}

#productReport1{
    background-color:rgb(255, 103, 103);
}

#customerReport1{
    background-color: rgb(90, 233, 133);
}

#employeeReport1{
    background-color: rgb(96, 239, 244);
}

#branchChartBarRow{
    margin-left: 2px;
    margin-bottom: 1%;
}

#branchChartPieRow{
    margin-left: 2px;
    margin-bottom: 5%;
}

#categoryChartBarRow{
    margin-left: 2px;
    margin-bottom: 1%;
}

#categoryChartPieRow{
    margin-left: 2px;
    margin-bottom: 5%;
}

