
        <a class="navbar-brand" href="../Odev5_AcmeRaporlama/index.cfm">Acme</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="../Odev5_AcmeRaporlama/index.cfm">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="blank" href="../Odev5_AcmeRaporlama/customer.cfm">Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="blank" href="../Odev5_AcmeRaporlama/category.cfm">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="blank" href="../Odev5_AcmeRaporlama/branch.cfm">Branch</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="blank" href="../Odev5_AcmeRaporlama/employee.cfm">Employee</a>
            </li>
          </ul>
        </div>
      