<cfprocessingdirective pageEncoding="utf-8">
<cfset pageTitle ="Workcube Youngdev Ders 2 - Coldfusion Giriş">
<cfset pageHeader = "Youngdev Ders 2">
<cfset mailler = structNew()>
<cfset mailler.kaan = "kaan_sali@hotmail.com">
<cfset mailler.emre = "emrevaroll193@gmail.com">


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <cfoutput> <title>#pageTitle#</title>
</head>
<body>
    <h2>#pageHeader# - #mailler.kaan#</h2>
    <h2>#mailler.emre#</h2></cfoutput>  
    <cfscript>
        a = 1;
        if(a == 1){
            writeOutput("a=#a# değişkenine girildi");
        }else{
            writeOutput("Onaylama başarısız");
        }
    </cfscript>
    <h1>CFLoop Tagi</h1>
    <!--- For Döngüsü --->
    <cfloop from="1" to="5" index="i">
        <cfoutput>i = #i#<br></cfoutput>
    </cfloop>
    <cfinclude template="test.cfm">
    <!--- Array Döngüsü --->
    <cfset myArray = ["A","b",2,3]>
    <cfloop array="#myArray#" index="i">
        <cfoutput>Array i =#i#<br></cfoutput>
    </cfloop>
    <cfset ogrenci = structNew()>
    <cfset ogrenci.Ad = "Emre">
    <cfset ogrenci.Soyad = "Varol">
    <cfset ogrenci.Email = "emrevarol@hotmail.com">
 <!---    <cfquery name="insertStudent" datasource="workcube_youngdev2">
        INSERT INTO Ogrenci (
            Ad,
            Soyad,
            Email,
            DogumTarihi
        ) VALUES (
            <cfqueryparam cfsqltype="cf_sql_nvarchar" value="#ogrenci.Ad#">,
            <cfqueryparam cfsqltype="cf_sql_nvarchar" value="#ogrenci.Soyad#">,
            <cfqueryparam cfsqltype="cf_sql_nvarchar" value="#ogrenci.Email#">,
            <cfif structKeyExists(ogrenci,"DogumTarihi")>
                <cfqueryparam cfsqltype="cf_sql_nvarchar" value="#ogrenci.DogumTarihi#">
            <cfelse>
                null
            </cfif>
        )
    </cfquery> --->
    <cfset api = createObject("component","cfc.api")>
    <cfset getOgrenci = api.OgrenciGetir(ogrenci)>
    <cfoutput query="getOgrenci">
        <p>#Ad#,#Soyad#,#Email#<cfif structKeyExists(ogrenci,"DogumTarihi")>,#DogumTarihi#</cfif></p>
    </cfoutput>

 <!---   <cfset a= 4>
    <cfif a eq 1> 
        <h2>#a# -test</h2>
    <cfelse>
        <h2>2</h2>
    </cfif> --->
</body>
</html>
