    <cfprocessingdirective pageEncoding="utf-8">
    <h2>Hello, World!</h2>
    <h3>Bu bir cfinclude ile eklenmiş sayfadır.</h3>
    <cftry>
        result = "İşlem başarılı"
        <cfcatch>
            result = "İşlem başarısız #catch#"
        </cfcatch>
        <cffinally>
            return result
        </cffinally>
    </cftry>