
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>INTRANET</title>
</head>
<body>
    <cfoutput>
           
        <cfdiv class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light bg-light" role="navigation">
            
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="">LİTERATÜR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">FORUM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">DİJİTAL ARŞİV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">KİM KİMDİR?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">EĞİTİM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">SOSYAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">DİĞERİ</a>
                </li>
            </ul>
        </cfdiv>

    </cfoutput>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
</body>
</html>


