
    <cfoutput>
    <cfdiv id="center-side" class="container-fluid">
        <h4>GÜNCEL TARTIŞMALAR</h4>
        <cfdiv class="row">
            <cfdiv class="col col-4 col-md-4 col-sm-4">
                <h4 style="color:red;">75 <p style="color:black; text-align: center;">FORUM</p> </h4>
            </cfdiv>
            <cfdiv class="col col-4 col-md-4 col-sm-4">
                <h4 style="color:red;">612 <p style="color:black; text-align: center;">KONU</p> </h4>
            </cfdiv>
            <cfdiv class="col col-4 col-md-4 col-sm-4">
                <h4 style="color:red;">7.2K <p style="color:black; text-align: center;">CEVAP</p> </h4>
            </cfdiv>
        </cfdiv>
        <cfdiv class="card bg-transparent" style="border: 0px;">
            <img src="../Odev3_Intranet/asest/img/einstein.jpg" class="rounded-circle" alt="" style="width: 12%; height: 12%; margin-top: 5%;">
            <i class="fa fa-comments" style="margin-left: 3%; margin-top: 2%;"></i>
            <cfdiv class="card-body" style="margin-top: -23%; margin-left: 10%;">
                <h5 class="card-title" style="text-align: left;">Selçuk İnan
                    <p class="card-text">
                        <small class="text-muted">27.10.2019-22:20</small>
                    </p></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </cfdiv>
        </cfdiv>

        <cfdiv class="card bg-transparent" style="border: 0px;">
            <img src="../Odev3_Intranet/asest/img/einstein.jpg" class="rounded-circle" alt="" style="width: 12%; height: 12%;">
            <i class="fa fa-comments" style="margin-left: 3%; margin-top: 2%;"></i>
            <cfdiv class="card-body" style="margin-top: -23%; margin-left: 10%;">
                <h5 class="card-title" style="text-align: left;">Kaan Ayhan
                    <p class="card-text">
                        <small class="text-muted">27.10.2019-22:20</small>
                    </p>
                </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </cfdiv>
        </cfdiv>

        <cfdiv class="card bg-transparent" style="border: 0px;">
            <img src="../Odev3_Intranet/asest/img/einstein.jpg" class="rounded-circle" alt="" style="width: 12%; height: 12%;">
            <i class="fa fa-comments" style="margin-left: 3%; margin-top: 2%;"></i>
            <cfdiv class="card-body" style="margin-top: -23%; margin-left: 10%;">
                <h5 class="card-title" style="text-align: left;">Emre Mor
                    <p class="card-text">
                        <small class="text-muted">27.10.2019-22:20</small>
                    </p>
                </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </cfdiv>
        </cfdiv>

        <cfdiv class="card bg-transparent" style="border: 0px;">
            <img src="../Odev3_Intranet/asest/img/einstein.jpg" class="rounded-circle" alt="" style="width: 12%; height: 12%;">
            <i class="fa fa-comments" style="margin-left: 3%; margin-top: 2%;"></i>
            <cfdiv class="card-body" style="margin-top: -23%; margin-left: 10%;">
                <h5 class="card-title" style="text-align: left;">Tugay Kerimoğlu
                    <p class="card-text">
                        <small class="text-muted">27.10.2019-22:20</small>
                    </p>
                </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </cfdiv>
        </cfdiv>
    </cfdiv>
</cfoutput>
