<cfprocessingdirective pageEncoding="utf-8">
<cfscript>
    imageManagerCfc = createObject('component', 'cfc.imageManager');
</cfscript>
    <cfset index = 0>
    <cfset listImagesResponse = imageManagerCfc.SelectImage()>
   <!--- <cfdump var = "#listLen(listImagesResponse.data)#" abort>--->

<cfdiv class="container">
        <h4>TAZE BİLGİ</h4>
        <cfdiv class="row" >
            <cfloop query="#listImagesResponse.data#">
                <cfif index NEQ 2>
                    <cfdiv class="card col-6 bg-transparent" id="image1" style="border: 0px;">
                        <img src="<cfoutput>#Url#</cfoutput>" class="card-img-top img-responsive" alt="..." >
                        <div class="card-bottom-info">
                            <a href=""><h6 ><cfoutput>#Name#</cfoutput></h6></a>
                            <p><cfoutput>#Description#</cfoutput></p>
                        </div>
                    </cfdiv>
                    <cfset index = index + 1/>
                    <cfelse>
                        <cfset index = 0/>
                        <cfdiv class="card col-6 bg-transparent" id="image1" style="border: 0px;">
                            <img src="<cfoutput>#Url#</cfoutput>" class="card-img-top img-responsive" alt="..." >
                            <div class="card-bottom-info">
                                <a href=""></a><h6 ><cfoutput>#Name#</cfoutput></h6></a>
                                <p><cfoutput>#Description#</cfoutput></p>
                            </div>
                         </cfdiv>
                </cfif>
            </cfloop>
    </cfdiv>
</cfdiv>


    
