


.image{
    width: 100%;
    height: 200px;
    flex:content;
}
.card-img-top img-responsive{
    width: 100%;
}

.index{
    background-color:white;
    
}

.card-bottom-info{
    background-color: rgb(189, 227, 250);
    margin-bottom: 15px;
}

h5{
    padding-left: 10px;
    text-align: left; 
    color: rgb(194, 18, 100);
}

h6{
    align-items: flex-start;
    padding-left: 10px;
    text-align: left; 
    color: rgb(194, 18, 100);
}

h4{
    color:rgb(9, 94, 9); 
    font:bold; 
    text-align: center;
}

p{
    padding-left: 10px;
    text-align: left;
    color: black;
    font: message-box;
}

.text-muted{
    text-align: left;
    font-size: 10px;
}

.card-text{
    font-size: 12px;
}

#catalog-image{
    width: 100%; 
    height: 100px;
    
}

#sosial-image{
    width: 100%; 
    height: 100px;
}


.list-group-item-panel-top{
    background-color:rgb(226, 210, 223) ;
    list-style: none;
    padding-left: 10px;
}

.list-group-item-panel{
    border:0px; 
    background-color:rgb(226, 210, 223) ;
    list-style: none;
    padding-left: 10px;
}

.list-group-item-panel-footer{
    border:0px;border-top: solid 1px white; 
    background-color:rgb(226, 210, 223) ; 
    list-style: none;
    padding-left: 10px;
}


@media screen and (max-width: 1200px) {
    #image1{
     min-width: 100%;
     margin: 0;
     padding: 0;
    }
    #image2{
        min-width: 100%;
        margin: 0;
        padding: 0;
       }
       #image3{
        min-width: 100%;
        margin: 0;
        padding: 0;
       }
       #image4{
        min-width: 100%;
        margin: 0;
        padding: 0;
       }
  }

@media screen and (max-width: 900px) {
    #image1{
     min-width: 100%;
     margin: 0;
     padding: 0;
    }
    #image2{
        min-width: 100%;
        margin: 0;
        padding: 0;
       }
       #image3{
        min-width: 100%;
        margin: 0;
        padding: 0;
       }
       #image4{
        min-width: 100%;
        margin: 0;
        padding: 0;
       }
       #div1{
        min-width: 100%;
        margin: 0;
        padding: 0;
       }
       #div2{
        min-width: 100%;
        margin: 0;
        padding: 0;
       }
  }

  @media screen and (max-width: 750px) {
    #leftPage{
     min-width: 100%;
     margin: 0;
     padding: 5px;
    }
    #center{
        min-width: 100%;
        margin: 0;
        padding: 5px;
       }
       #rightPage{
        min-width: 100%;
        margin: 0;
        padding: 5px;
       }
       #right-side-catalog{
        min-width: 100%;
        margin: 10px;
        padding: 5px;
       }
       #right-side-sosial{
        min-width: 100%;
        margin: 0;
        padding: 5px;
       }
  }